<%- include('header.ejs') %>

<div class="products">
  <div class="container">
    <div class="tshirts product-type">
      <h1 class="heading">T-Shirts</h1>
      <%if(locals.tshirts){%>
      <% for(let i=0;i<tshirts.length;i++){%>
      <div class="item">
        <img src="/gallery/<%=tshirts[i].image%>" alt="Image of shirt">
        <div class="item-details">
          <p class="name"><%=tshirts[i].name%></p>
          <div class="item-price row">
            <p class="price col-3">₹<%=tshirts[i].price%></p>
            <p class="original-price col-3">₹<%=tshirts[i].price+600%></p>
          </div>
        </div>
        <div class="hidden_forms">
          <form action="/addToWishlist" method="post">
            <!-- Add your product ID input field inside the form -->
            <input type="hidden" name="productId" value="<%=tshirts[i].id%>">
            <!-- Add other form fields if needed -->

            <button type="submit" class="wishlist btn btn-primary btn-sm">Add to wishlist</button>
          </form>

          <form action="/addToCart" method="post">
            <!-- Add your product ID input field inside the form -->
            <input type="hidden" name="productId" value="<%=tshirts[i].id%>">
            <!-- Add other form fields if needed -->

            <button type="submit" class="wishlist btn btn-success btn-sm">Add to cart</button>
          </form>
        </div>
      </div>
      <%}}%>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>