<%- include('header.ejs') %>

<body>
  <div class="wishlist products">
    <h1 class="heading">Wishlist</h1>
    <% if(!locals.list.length){%>
    <p class="message">Wishlist is empty 🤔</p>
    <%}else{%>
    <div class="products">
      <div class="container">
        <div class="product-type">
          <%if(locals.list){%>
          <% for(let i=0;i<list.length;i++){%>
          <div class="item">
            <img src="/gallery/<%=list[i].image%>" alt="Image of shirt">
            <div class="item-details">
              <p class="name"><%=list[i].name%></p>
              <div class="item-price row">
                <p class="price col-3">₹<%=list[i].price%></p>
                <p class="original-price col-3">₹<%=list[i].price+600%></p>
              </div>
            </div>
            <div class="hidden_forms">
              <form action="/addToCart" method="post">
                <!-- Add your product ID input field inside the form -->
                <input type="hidden" name="productId" value="<%=list[i].pid%>">
                <!-- Add other form fields if needed -->

                <button type="submit" class="wishlist btn btn-primary btn-sm">Add to cart</button>
              </form>

              <form action="/Removefromwishlist" method="post">
                <!-- Add your product ID input field inside the form -->
                <input type="hidden" name="productId" value="<%=list[i].pid%>">
                <!-- Add other form fields if needed -->

                <button type="submit" style="background-color:red; color:white" class="wishlist btn  btn-sm">Remove</button>
              </form>
            </div>
          </div>
          <% }}%>
        </div>

        <%}%>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="script.js"></script>       
</body>
</html>

<%- include('footer.ejs')%>